body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #ededed;
}

H1 {
  font-weight: lighter;
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 16px;
  height: 48px;
  border-style: none;
  padding-left: 16px;
  font-size: 16px;
}

.addOption {
  margin-top: 16px;
  width: inherit;
  background-color: #2d9ee0;
  font-size: 16px;
  font-weight: lighter;
  color: #ffffff;
}

button {
  height: 48px;
  border-style: none;
  background-color: #333333;
  width: 400px;
  margin-bottom: 32px;
}

.buttonText {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}
